<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ contextPath }}index.html">
                <img height="20" src="{{ contextPath }}img/akeneo.svg"></img>
            </a>
        </div>
        <div class="nav navbar-nav navbar-right">
            <form class="navbar-form">
                <div class="form-group form-search">
                    <input id="docSearch-input" type="text" class="form-control" placeholder="Search for Portal help...">
                </div>
            </form>
        </div>
    </div>
</nav>
